body{
    background-color: rgb(205, 129, 129);
}
.navbar{
    background-color: rgb(172, 119, 119);
    display: flex;
    justify-content: space-around;
}
.imagen-producto {
    width: 100%;
    text-align: center;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px;
}

.card-product{
    margin: auto 2rem;
}
